<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405871021333-nh3mol2msa4hsne0e2e0eie3te8sk5k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405871021333-nh3mol2msa4hsne0e2e0eie3te8sk5k5</string>
	<key>API_KEY</key>
	<string>AIzaSyC8oBrurE3FLe5ooS4RqdklXZPh-02NzcU</string>
	<key>GCM_SENDER_ID</key>
	<string>405871021333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaquimenezes.LevelUP-JAN24</string>
	<key>PROJECT_ID</key>
	<string>levelup-jan24</string>
	<key>STORAGE_BUCKET</key>
	<string>levelup-jan24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405871021333:ios:50e5b3c2b6da0d16842d1c</string>
</dict>
</plist>